/*CSS reset settings here*/
*{
    vertical-align: top;
    margin: 0px;
    padding: 0px;

       }
    .wrapper{
    background-color: black;
    margin: 0 auto;
    width: 1000px;
    }
      
      header img{
        vertical-align: top;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
       }

      header p{
        vertical-align: top;
        display:inline-block;
        margin-left: 600px;
        margin-top: 30px;
        font: bold;
        color: white;
       }

       .nav{
        width: 1000px;
        background-color: gray;
        padding-top: 15px;
        
       }

       .nav ul li{
         display: inline-block;
         margin: 0px;
         padding: 5px;
         padding-left: 25px;
         padding-bottom: 20px;
         color: white;  
       }

       .box{
        vertical-align: top; 
        display: inline-block;
        color: white;
       }

       .box img{
        vertical-align: top;
        display: inline-block;
       }

       .box-right{
         vertical-align: top;
         display: inline-block;
         width: 150px;
       }